{:stack       {:languages {:core        ["Haskell"]
                           :auxiliary   ["Dart" "Datalog"]
                           :niche       ["Dhall"]
                           :influence   ["Smalltalk" "Erlang" "Forth|Factor" "APL|K|J"]}
               :tools     ["awk" "tmux" "terraform" "jq" "dbt" "bpf" "hasura" "postgrest"]
               :libraries ["core.logic" "core.async" "clojure.spec" "Datomic" "edn" "crux" "graal" "kafka"
                           "zeromq" "jooq"]}
 :environment {:operating-systems ["DragonflyBSD" "MirageOS"]}
 :patterns    ["GraphQL" "gRPC" "streaming APIs" "WebSockets"]}
